@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
$mobile: 675px;
$navbar-breakpoint: $mobile;
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background: none;
    box-shadow: none;
  }
}
@import "../../node_modules/bulma/bulma.sass";
